<app-page-header [heading]="'Cities'" [heading1]="'Add'" [icon]="'fa-table'"></app-page-header>
<div class="row">
  <div class="col col-xl-8 col-lg-8">
    <div class="card mb-3">
      <div class="card-header">
        Add a new city
      </div>
      <div class="card-body">
        <form role="form" #myform="ngForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label class="form-control-label" for="name">Name</label>
            <input type="text" class="form-control" #name="ngModel" required minlength="3" id="name" name="name"
              [(ngModel)]="city.Name" [ngClass]="{
                'is-invalid': name.invalid && (name.dirty || name.touched),
                'is-valid': name.valid && (name.dirty || name.touched)
              }">
            <div class="invalid-feedback" *ngIf="name.invalid">
              <p *ngIf="name.errors.required"> city name is required </p>
              <p *ngIf="name.errors.minlength"> city name should be at least 3 chracters </p>
            </div>
          </div>
          <div class="form-group">
          <label class="form-control-label" for="name">Status</label>
          <div class="tg-list-item">

            <input class="tgl tgl-light" id="check"  type="checkbox" checked  [(ngModel)]="city.Status"/>
            <label class="tgl-btn" for="check"></label>
          </div>
          </div>
          <!-- <div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="radioBasic" [(ngModel)]="city.Status">
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="1"> Enable
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="0"> Disable
            </label>
          </div> -->

          <div class="row">
            <div class="form-group col-md-6">
              <label class="form-control-label" for="logo">Logo Image</label>
              <input type="file" id="logo" name="logo" #logo placeholder="Choose file" (change)="uploadLogo(logo.files)"
                style="display:none;" accept=".jpg, .jpeg, .png, .gif">
              <button type="button" class="btn btn-success form-control" (click)="logo.click()">Upload Logo</button>
              <ngb-progressbar class="top-15" *ngIf="uploadProgress > 0 && uploadProgress < 99" type="success"
                [value]="uploadProgress">{{uploadProgress}}</ngb-progressbar>
              <img class="thumbnail top-15" *ngIf="city.ImagePath" [src]="resourceURL + city.ImagePath" alt="logoimage">
            </div>
          

              <div class="form-group col-md-6">
                <label class="form-control-label" for="cover">Cover Image</label>
                <input type="file" id="logo" name="cover" #cover placeholder="Choose file" (change)="uploadCover(cover.files)"
                  style="display:none;" accept=".jpg, .jpeg, .png, .gif">
                <button type="button" class="btn btn-success form-control" (click)="cover.click()">Upload Cover</button>
                <ngb-progressbar class="top-15" *ngIf="uploadProgress > 0 && uploadProgress < 99" type="success"
                  [value]="uploadProgress">{{uploadProgress}}</ngb-progressbar>
                <img class="thumbnail top-15" *ngIf="city.CoverImagePath" [src]="resourceURL + city.CoverImagePath" alt="coverimage">
              </div>
            </div>


          <div class="form-group">
            <button type="submit" [disabled]="myform.invalid"
              class="btn btn-secondary form-control-label">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>