<div [@routerTransition]>
  <app-page-header [heading]="'Promotion'"[heading1]="'Update Promotion'" [icon]="'fa-edit'"></app-page-header>
  <div class="row ">
    <div class="col-8" >
      <div class="card ">
          <div class="card-header">Update Promotion </div>
      <div class="card-body" *ngIf= "!isLoading">
          <!-- <p *ngIf="success">
              <ngb-alert class="alert-dismissible fade show" type="success" (close)="closeAlert(alert)"> Promotion has been updated Successfully!
                <a class="bootstrap-link"  [routerLink]="[ '/promotion' ]">Click Here</a> to view promotion list
              </ngb-alert>
          </p> -->
        <form (ngSubmit)="UpdatePromotion()" #EditPromotionForm="ngForm">
          <div class="form-group">
            <label class="form-control-label" for="name"> Name</label>
            <input type="text" #name ="ngModel" class="form-control"  [(ngModel)]="promotion.Name" name="name" required minlength="2"
            [ngClass]="{
              'is-invalid': name.invalid && (name.dirty || name.touched),
              'is-valid' : name.valid && ( name.dirty || name.touched)
            }">
            <div class="invalid-feedback" *ngIf ="name.invalid">
                <p *ngIf="name.errors.required"> Promotion name is required </p>
                <p *ngIf="name.errors.minlength">Promotion name should be at least 2 characters</p>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for = "Content">Content</label>
              <textarea  row="3" #content="ngModel" class="form-control" placeholder="Content" [(ngModel)]="promotion.Content"  name="Content" required minlength="2"
              [ngClass]="{
                'is-invalid': content.invalid && (content.dirty || content.touched),
                'is-valid': content.valid && (content.dirty || content.touched)
              }"> </textarea>
              <div class="invalid-feedback" *ngIf="content.invalid">
                  <p *ngIf="content.errors.required">Promotion content is required</p>
                  <p *ngIf="content.errors.minlength">Content should  be at least 2 characters</p>
              </div>
          </div>
          <div class="form-group">
              <label>Type</label>
              <select class="form-control"  [(ngModel)]="promotion.PromoType"  name="PromoType" required >
                  <option [value]="0">Image</option>
                  <option [value]="1">News</option>
                  <option [value]="2">Video</option>
              </select>
          </div>
          <div class="form-group">
              <label>City</label>
              <select class="form-control" #city="ngModel" [(ngModel)]="promotion.CityId" name="cityName"
              [ngClass]="{
                'is-invalid': city.invalid && (city.dirty || city.touched),
                'is-valid': city.valid && (city.dirty || city.touched)
              }">
                  <option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="city.invalid">
                  <p *ngIf="city.errors.required"> Promotion city is required</p>
              </div>
          </div>

          <div class="form-group">
          <button type="submit" [disabled] = "EditPromotionForm.invalid" class="btn btn-primary">Submit</button>
          &nbsp;&nbsp;
          <button type="reset" class="btn btn-secondary" type="reset" value="Reset">Reset</button>
          </div>
      </form>
    </div>
  </div>
  </div>
  </div>
</div>

