
.rating {
	height: 24px;
	transform: rotateY(180deg);
	display: flex;
	float: left;
	margin-right: -50px;
}

.rating input {
	display: none;
}

.rating label {
	display: block;
	cursor: pointer;
	width: 15px;
	margin: 0 2px;
}

.rating label:before {
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 14px;
	color: #101010;
}

.rating label:after {
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 16px;
	color: #1f9cff;
	top: -1px;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 0px 0px rgba(0,0,0,.5);

}

.rating input:checked ~ label:after  {
	opacity: 1;
}
