<div [@routerTransition]>
  <app-page-header [heading]="'Riders'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class=" breadcrumb">
            <label > Select by City</label>
           <select  style = "background-color: inherit; margin-left: 8px" [(ngModel)]="CityId" (change) = "getRidersByCity (CityId)">
             <option selected hidden> Select by City </option>
             <option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}</option>
           </select>
          </div>
          <div [ngClass]="{'d-none': CityId != null}" class="text-center alert alert-info">Please Select City First</div>
      <div [ngClass]="{'d-none': CityId == null}" class="card mb-3">
        <div class="card-header">
          List of all riders
          <div class="pull-right">
            <a routerLink="add"> <i class="fa fa-plus"></i> Add </a>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Mobile #</th>
                <th> Password</th>
                <th>City</th>
                <th>CNIC</th>
                <th>Address</th>
                <th>Orders</th>
                <th>Rating</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading">
              <tr
                *ngFor="let rider of riders; let i = index"
                [ngClass]="{
                  'table-success': rider.Status === 0,
                  'table-danger': rider.Status === 1
                }"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ rider.Name }}</td>
                <td>{{ rider.MobileNo }}</td>
                <td>{{ rider.Password }}</td>
                <td>{{ rider.City.Name }}</td>
                <td>{{ rider.CNIC }}</td>
                <td>{{ rider.Address }}</td>
                <td><a routerLink="{{rider.Id}}/orders" placement="bottom" ngbTooltip="View Orders">
                    <i class="fa fa-shopping-cart fa-lg"></i>
                  </a>&nbsp;</td>
                <td>{{rider.Rating}}</td>
                <td>
                  <a routerLink="edit/{{rider.Id}}"> <i class="fa fa-pencil"></i> </a>&nbsp;
                  <i (click)="open(content, rider.Id)" class="fa fa-trash" style="cursor: pointer"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Alert</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Yes')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('No')">No</button>
  </div>
</ng-template>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
