<app-page-header [heading]="'Restaurant'" [heading1]="'Contacts'" [icon]="'fa-table'"></app-page-header>
<div class="row">
  <div class="col col-xl-8 col-lg-8">
    <div class="card mb-3">
      <div class="card-header">
        Add a new restaurant contact
      </div>
      <div class="card-body">
        <form role="form" #myform="ngForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label class="form-control-label" for="Email">Email</label>
            <input type="email" class="form-control" #Email="ngModel" required id="Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="Email" [(ngModel)]="restaurantContact.Email"
              [ngClass]="{
                'is-invalid': Email.invalid && (Email.dirty || Email.touched),
                'is-valid': Email.valid && (Email.dirty || Email.touched)
              }">
            <div class="invalid-feedback" *ngIf="Email.invalid">
              <p *ngIf="Email.errors.required"> Email is required </p>
              <p *ngIf="Email.errors.pattern"> Email should be of valid pattern </p>
            </div>
          </div>


          <div class="form-group">
            <label class="form-control-label" for="MobileNo">Mobile Number</label>
            <input type="text" class="form-control" id="MobileNo" name="MobileNo" required #MobileNo="ngModel"
              [(ngModel)]="restaurantContact.MobileNo" [ngClass]="{
                    'is-invalid': MobileNo.invalid && (MobileNo.dirty || MobileNo.touched),
                    'is-valid': MobileNo.valid && (MobileNo.dirty || MobileNo.touched)
                  }">
            <div class="invalid-feedback" *ngIf="MobileNo.invalid">
              <p *ngIf="MobileNo.errors.required"> Mobile Number is required </p>
            </div>
          </div>

          <div class="form-group">
            <label class="form-control-label" for="URL">URL</label>
            <input type="text" class="form-control" id="URL" name="URL" required #URL="ngModel"
              [(ngModel)]="restaurantContact.URL" [ngClass]="{
                    'is-invalid': URL.invalid && (URL.dirty || URL.touched),
                    'is-valid': URL.valid && (URL.dirty || URL.touched)
                  }">
            <div class="invalid-feedback" *ngIf="URL.invalid">
              <p *ngIf="URL.errors.required"> URL is required </p>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" [disabled]="myform.invalid"
              class="btn btn-primary form-control-label">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>