<div [@routerTransition]>
  <app-page-header [heading]="'Restaurant'"[heading1]="'cuisines'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          List of all cuisines
          <div class="pull-right">
            <a routerLink="add"> <i class="fa fa-plus"></i> Add </a>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Image</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading">
              <tr *ngFor="let cuisine of restaurantCuisine; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ cuisine.Cuisine.Name }}</td>
                <td>
                  <a [href]="resourceURL + cuisine.Cuisine.ImagePath" target="_blank">
                    <img class="small-image" [src]="resourceURL + cuisine.Cuisine.ImagePath" />
                  </a>
                </td>
                <td>
                  <i class="fa fa-pencil"></i>&nbsp;
                  <i class="fa fa-trash" (click)="open(content, cuisine.CuisineId)"></i>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Alert</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Yes')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('No')">No</button>
  </div>
</ng-template>