<div [@routerTransition]>
  <app-page-header [heading]="'Cities'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          List of all cities
          <div class="pull-right">
            <a routerLink="add"> <i class="fa fa-plus"></i> Add </a>
          </div>
        </div>
        <div class="card-body table">
          <table  #datatable class="table row-border hover table-sm"   >
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Logo</th>
                <th>Cover</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading">
              <tr *ngFor="let city of cities; let i = index" [ngClass]="{
                'table-success': city.Status === 1,
                'table-danger': city.Status === 0
              }">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ city.Name }}</td>
                <td><img class="small-image img-Custom" [src]="   (city.ImagePath?resourceURL+ city.ImagePath : 'assets/images/no-img.png')"  alt="no image" /></td>
                <td><img class="small-image img-Custom"  [src]="  (city.CoverImagePath? resourceURL+city.CoverImagePath : 'assets/images/no-img.png')" alt="no image" /></td>
                <td>
                  <a routerLink="edit/{{city.Id}}"> <i class="fa fa-pencil"></i> </a>&nbsp;
                  <i (click)="open(content, city.Id)" class="fa fa-trash" style="cursor: pointer"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Alert</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('Yes')">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c('No')">No</button>
  </div>
</ng-template>

