<div [@routerTransition]>
  <app-page-header [heading]="'Cities'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">List of all cities
          <div class="pull-right">
            <a routerLink="add"> <i class="fa fa-plus"></i> Add </a>
          </div>
        </div>

        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let city of cities; let i = index" [ngClass]="{
                'table-success': city.Status === 0,
                'table-danger': city.Status === 1
              }">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{city.Name}}</td>
                <img id="Img" [src]="city.ImagePath">

                <td><i class="fa fa-pencil" (click)="edit(city.Id)"></i></td>
                <td><i class="fa fa-trash" (click)="deleteCity(city.Id)"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>