<div [@routerTransition]>
  <app-page-header [heading]="'Promotions'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header"> List of all promotions
            <div class="pull-right">
                <a routerLink="addpromotion"> <i class="fa fa-plus"></i> Add </a>
            </div>
        </div>
        <div class="card-body table-hover" >
          <table class="table table-striped">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Content</th>
              <th>Promo Type</th>
              <th>City Name</th>
              <th>&nbsp;&nbsp;</th>
            </thead>
            <tbody *ngIf ="!isLoading">
              <tr  *ngFor="let promo of promotions; let i = index">
                <th scope="row">{{ i +1 }}</th>
                <td>{{promo.Name}}</td>
                <td>{{promo.Content}}</td>
                <td>{{getPromotionType(promo.PromoType)}}</td>
                <td>{{promo.City.Name}}</td>
                <td> 
                  <a [routerLink]="['editpromotion', promo.Id]"> <i class="fa fa-pencil-square-o fa-lg"></i></a>&nbsp;
                  <i class="fa fa-trash-o fa-lg" style="cursor: pointer" (click)="open(content, promo.Id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Yes')">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="c('No')">No</button>
    </div>
  </ng-template>