<div [@routerTransition]>
    <app-page-header [heading]="'Restaurant'" [heading1] = "'Timings'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
      <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
          <div class="card-header">
            List of all restaurant timings
            <div class="pull-right">
              <a routerLink="add"> <i class="fa fa-plus"></i> Add </a>
            </div>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Weekday</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let restaurantTiming of restaurantTimings; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ getDay(restaurantTiming.WeekDay) }}</td>
                  <td>{{ restaurantTiming.StartTime }}</td>
                  <td>{{ restaurantTiming.EndTime }}</td>
  
                  <td>
                    <a [routerLink]="['edit', restaurantTiming.Id]"> <i class="fa fa-pencil-square-o fa-lg"></i></a>&nbsp;
                    <i class="fa fa-trash-o fa-lg" style="cursor: pointer" (click)="open(content, restaurantTiming.Id)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Yes')">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="c('No')">No</button>
    </div>
  </ng-template>