.inputField {
  width: 50%;

  //margin-top: 5 px;
}
.uploadButton {
  width: 130px;
  margin-top: 20px;
}
.Button {
  margin-left: 15px;
  margin-top: 40px;
  width: 130px;
}
#Img {
  width: 200px;
  height: 130px;
  padding-top: 15px;
}
