<div [@routerTransition]>
  <app-page-header [heading]="'Add Promotion'" [icon]="'fa-edit'"></app-page-header>

  <div class="row ">
    <!-- <div class="col-6 offset-md-2">  -->
    <div class="col-6" >
      <div class="card ">
          <div class="card-header">Add New Promotion </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #AddPromotionForm="ngForm">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" [(ngModel)]="promotion.Name" name="PromoName" required > 
            <!-- <label *ngIf="promotion.Name.errors?.required">Username is invalid</label> -->
          </div>
          <div class="form-group">
              <textarea  row="3" class="form-control" placeholder="Content" [(ngModel)]="promotion.Content" name="Content" required > </textarea>
          </div>
          <div class="form-group">
              <label>Type</label>
              <select class="form-control"  [(ngModel)]="promotion.PromoType" name="PromoType" required >
                  <option [value]="0">Image</option>
                  <option [value]="1">News</option>
                  <option [value]="2">Video</option>
              </select>
          </div>
          <div class="form-group">
              <label>City</label>
              <select class="form-control" [(ngModel)]="promotion.CityId" name="City" >
                  <option *ngFor="let city of cities" [value]="city.Id">{{city.Name}}</option>
              </select>
              
          </div>

          <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          &nbsp;&nbsp;
          <button type="reset" class="btn btn-secondary" type="reset" value="Reset">Reset</button>
          </div>
      </form>
    </div>
  </div>
  </div>
  </div>
</div>
